div {
  border-radius: 10px;
  font-size: x-large;
  margin-bottom: 1em;
  padding: 5px;
  text-align: justify;
}

.center {
  text-align: center;
}

.link {
  background-color: #a4e8fd;
  cursor: pointer;
}

.toc {
  text-indent: -4em;
  padding-left: 4.2em;
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

.bg1 {
  background-color: rgb(255, 206, 145);
}

.ot,
.ot1 {
  background-color: rgb(255, 206, 145);
  font-weight: bold;
}

.ot2,
.ot3 {
  background-color: rgb(255, 240, 222);
}

.ot,
.ot2 {
  text-indent: -2em;
  padding-left: 2.2em;
}

.ot1 {
  text-indent: -3em;
  padding-left: 3.2em;
}

.ot3 {
  text-indent: -1.6em;
  padding-left: 2.1em;
}

.br {
  background-color: rgb(222, 255, 185);
}

.title {
  font-weight: bold;
  text-align: center;
}
