
body {
 margin: 1 auto;
 background-color:#E0E0E0;
}

p {
  padding-left : 2em;
  margin: 10px 0;
}
p:first-letter {
  margin-left: -2em;
}

#faq {
 font-size: 16px;
 background: #E0E0E0;/* 后加背景色 */
}
#faq li {
 margin: 0 0 6px;
 padding: 0 0 2px;
}
#faq dl {
 margin: 0;
 padding:0;
 display:inline;
}
#faq dt {

 cursor:pointer;
 line-height: 130%;
 padding: 2px 0 3px auto;

 font-size:16pt;
 color:#333;
}

#faq dd {
	display: none;
	background: #FFFFFF;/* 原来背景色是E0E0E0 */
	max-height: 250px;
	padding: 0 0 1px 6px;
	margin-left:0px;
	overflow-y:scroll;
	overflow-x:visible;
}

#AA1{
FONT-WEIGHT: bold;
font-size: 18px;
color:#000;
 }
 
 /* 纲目经文 */
#AA2{
 font-size: 18px;
 color:#000;
 }

/* 晨兴部分第一周　周几 */
.AA1 {
    text-align:center;
    font-size:1.3em;
    color:#FFFFFF;
    FONT-WEIGHT: bold;
    padding-top: 3px;
    padding-bottom:5px;
    background-color:#338833;
	text-decoration: none;
}

/* 纲目晨兴总题篇题|晨兴部分纲目、晨兴喂养、信息选读 */
.AA2 { 
color : #008000; 
text-align : center;
font-weight : bolder;
font-size : 1.3em; 
} 


/* 晨兴部分段落 */
.AA3 { 
color : #000000;
padding-left : 0.5em;
text-indent : 3em; 
font-size : 1.4em; 
} 

/* 纲目诗歌读经 */
.AA4{
 font-size: 1em;
 padding-left : 2em;
 color:#000;
 }


/* 晨兴部分大点 */
.CC1 {
  color:#000000;
  font-weight : bolder; 
  font-size :1.5em; 
}

/* 晨兴部分中点 */
.CC2 {
  color:#000000;
  padding-left : 2.5em;
  font-weight : bolder; 
  font-size :1.45em; 
}

/* 晨兴部分小点 */
.CC3 {
  color:#000000;
  padding-left : 3em;
  font-size :1.4em; 
}

/* 晨兴部分abc */
.CC4 {
  color:#000000;
  padding-left : 3.5em;
   font-size :1.38em; 
}

/* 纲目大点 */
#CC1 { 
color : #000000;
font-size : 1.15em; 
font-weight : bolder; 
} 

/* 纲目中点 */
#CC2 { 
color : #000000;
padding-left : 2.5em;
padding-right : 0.5em;
font-size : 1.1em; 
font-weight : bolder; 
} 

/* 纲目小点 */
#CC3 { 
color : #000000;
padding-left : 3em;
font-size : 1.05em; 
} 

/* 纲目abc */
#CC4 { 
color : #000000;
padding-left : 3.5em;
font-size : 1em; 
} 

/* 晨兴参读 */
.DD { 
color : #000000;
padding-left : 2em;
text-indent : 1em; 
font-size : 0.9em;
font-style:italic;
} 

/* 晨兴喂养经文 */
.EE { 
color : #000000; 
padding-left : 3em; 
margin-left: -0.5em;
font-weight : bolder;
font-size : 1.4em; 
} 

/* 晨兴喂养部分背景色 */
.AA2BJ {
    padding-top: 3px;padding-bottom: 2px;
    text-decoration: none;border:1px solid #C8C8C8;background-color:#CCCCCC;
}