.tit {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

.ot1 {
  font-size: 1.3em;
  font-weight: bold;
  padding-left: 2em;
  text-indent: -2em;
}

.ot2 {
  font-size: 1.2em;
  font-weight: bold;
  padding-left: 2em;
  text-indent: -2em;
}

.ot3 {
  font-size: 1.3em;
  padding-left: 1.5em;
  text-indent: -1.5em;
}

p {
  text-align: justify;
}

audio {
  width: 100%;
}
