body{background-color: #FDFDFD;padding: 0 20px;}
ul,li{list-style-type: none;padding: 0;}
a{
	color: #333;
	text-decoration: none;
}
.link{
	padding: 0 10px 0 0;
}
.link a{
	font-size: 16px;
	padding: 8px 0;
	display: inline-block;
	color: #66a3ff;
}

h1{
	text-align: center;
	font-size: 24px;
	margin-top: 30px;
}
li{
	background-color: #fff;
	/*box-shadow: 0px 4px 5px -2px rgba(0,0,0,.2);*/
	border: 1px solid #ddd;
	border-radius: 6px;
	padding: 20px;
	margin-bottom: 20px;
	padding-right: 40px;
	background: url("./images/arrow-right.svg") no-repeat 98% 50%;
	background-size: 20px;
}
li > a{
	font-size: 18px;
}
.list-divider{
	padding: 20px;
	font-size: 22px;
	font-weight: bold;
	box-shadow: none;
	padding-bottom: 0;
	background: none;
	border: none;
	padding-left: 0;
}