body{
	font-size: 19.8px !important;
	font-family:"微软雅黑","Microsoft Yahei";
	line-height: 1.8;
}
body strong{
	font-size: 23.4px;
}
body h1{
    color: #008000;
    text-align: center;
    font-weight: bolder;
    font-size: 24px;
}
ul,li{
	list-style: none;
}
p{
	font-weight: bold;
	font-size: 20px;
	color: #333;
}
h2{
	text-align: center;
}
blockquote  p{
	font-weight: normal;
	font-size: 20px;
	color: #000;
}