#contents {
  margin: 10px;
}
.bible_reading {
  padding-left: 3em;
  text-indent: -3em;
}
.zt {
  font-weight: bold;
  text-align: center;
  font-size: 1.4em;
}
.pt {
  font-weight: bold;
  text-align: center;
  font-size: 1.2em;
}

.zt {
  font-weight: bold;
  text-align: center;
  font-size: 1.3em;
}

.pt {
  font-weight: bold;
  text-align: center;
  font-size: 1.2em;
}

.dj {
  padding-left: 3em;
  text-indent: -3em;
}
p {
  font-size: x-large;
  text-align: justify;
}
.a {
  font-weight: bold;
  padding-left: 2em;
  text-indent: -2em;
}

.aa {
  padding-left: 2em;
  text-indent: -2em;
}

.aaa {
  padding-left: 1.5em;
  text-indent: -1.5em;
}

.jc {
  font-weight: bold;
  font-size: 1.1em;
}

.xbt {
  text-align: center;
  font-weight: bold;
}

.zw {
  text-align: justify;
  text-indent: 2em;
}
.tag {
  margin-bottom: 10px;
}
.tag_text {
  font-weight: bold;
  font-size: large;
  color: white !important;
}
.out1 {
  font-weight: bold;
  text-indent: -2em;
  padding-left: 2em;
}
.out2 {
  text-indent: -2em;
  padding-left: 2em;
}
.out3 {
  padding-left: 2em;
}
.out10 {
  text-indent: -3em;
  padding-left: 3em;
  font-weight: bold;
}
.out {
  text-indent: -1.5em;
  padding-left: 1.5em;
}
.text {
  text-align: justify;
}
.heading {
  text-align: center;
  font-weight: bold;
  font-size: 1.1em;
}
.center {
  text-align: center;
}
.bold {
  font-weight: bold;
  font-size: 1.1em;
}
.bv {
  padding-left: 2em;
}

#mytb {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#mytb td,
#mytb th {
  border: 1px solid #ddd;
  padding: 8px;
}

#mytb td {
  text-align: justify;
}

#mytb tr:nth-child(even) {
  background-color: #f2f2f2;
}

#mytb tr:hover {
  background-color: #ddd;
}

#mytb th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #1976d2;
  color: white;
}
