.grey-bg {
	background-color:#d7e0d8;
	border-bottom:1px solid #d7d7e4
}
div.main {
	font-size:1.4em;
}
div.middle-wrapper2 {
	width:100%;
	margin:0 auto;
	background-color:#e9f2ea;
	position:relative;
	margin-bottom:30px
}
div.reading {
	width:95%;
	margin:0 auto;
	padding-bottom:10px
}
div.reading-text {
	font-size:22px;
	color:#2f2f2f
}
div.reading-text p {
	line-height:2em;
	letter-spacing:2px;
	padding-bottom:2em;
	color:#1d1d1d;
	text-align:justify;
	word-break:break-all
}

div.guide-btn-wrap>ul {
	width:75px;
	height:259px
}
div.guide-btn-wrap>ul>li {
	width:72px;
	height:29px;
	background:#fff;
	border-radius:5px;
	margin-bottom:15px;
	padding-top:43px;
	text-align:center;
	cursor:pointer
}
.guide-btn-wrap {
	position:fixed;
	z-index:102;
	top:0;
	margin-left:0px
}
.guide-btn-wrap a {
	line-height:1;
	display:block;
	width:40px;
	height:40px;
	line-height:40px;
	background:#ccc;
	background:rgba(0,0,0,.2);
	background-color:#f2f2f7;
	text-align:center
}
li.mulu2-title {
	position:relative
}

div.mulu-block span.cha,div.set-block span.cha {
	float:right;
	margin-right:20px;
	margin-top:0
	font-size:20px;
	right:30px;
	height:30px;
	line-height:30px;
}
div.set-block,div.color {
	text-align:left
}
div.set-block {
	position:absolute;
	width:380px;
	left:0px;
	top:38px;
	background-color:white;
	display:block;
	text-align:left;
	padding-top:15px;
	padding-left:5px;
	box-shadow:0 5px 10px #ddd;
	padding-bottom:30px
}

div.set-block div.set-button a {
	width:100px;
	background:#fa5b55;
	color:#fff;
	display:inline-block
}
div.set-button {
	text-align:center
}
div.set-button a:first-child {
	margin-right:20px
}
div.set-block div.set-button a:last-child {
	background:#f5f5f7;
	color:#666
}


div.setting-list-wrap ul {
	text-align:left
}
div.setting-list-wrap ul i {
	font-style:normal
}



li.theme-list span {
	line-height:28px;
	width:1.4em;
	height:1.4em;
	margin-right:14px;
	border:1px solid #e5e5e5;
	border:1px solid rgba(0,0,0,.1);
	border-radius:100%;
	display:inline-block
}
li.theme-list span.act {
	border:2px solid #fa5b55;
	box-shadow:0 0 10px #fa5b55
}

i.reading-topic {
	vertical-align:5px
}

.theme-0 {
	background:#ffffff
}
.theme-1 {
	background:#E6F0E6
}
.theme-2 {
	background:#E3F5FA
}
.theme-3 {
	background:#E0E0E0
}
.theme-4 {
	background:#f5e9ef
}
.theme-5 {
	background:#F6F4EC
}
.theme-6 {
	background:#636363
}
div.set-block h4 {
	margin-bottom:20px
}
div.setting-list-wrap li {
	margin-bottom:20px
}
div.setting-list-wrap li i {
	margin-right:15px
}
li.font-family span {
	width:75px;
	height:30px;
	line-height:30px;
	text-align:center;
	border:1px solid #aaa;
	display:inline-block;
	background:#f5f5f7;
	font-size:14px;
	border-radius:3px;
	margin-right:10px
}
li.font-family span.act {
	border:1px solid #fa5b55;
	color:#fa5b55
}
li.color span {
	width:60px;
	height:30px;
	line-height:30px;
	text-align:center;
	border:1px solid #aaa;
	display:inline-block;
	background:#f5f5f7;
	font-size:14px;
	border-radius:3px;
	margin-right:10px
}
li.color span.act {
	border:1px solid #fa5b55;
	color:#fa5b55
}
div.setting-list-wrap:hover {
	color:#000
}

span.font-wrap {
	display:inline-block;
	width:270px;
	border:1px solid #aaa;
	border-radius:5px;
	height:30px;
	line-height:30px;
	background:#f5f5f7
}
.font-span-small,.font-span-size {
	width:85px;
	display:inline-block;
	text-align:center;
	border-right:1px solid gray
}
.font-span-big {
	text-align:center;
	display:inline-block;
	width:85px
}

.Hservices {
	cursor:pointer
}
.Hservices:hover {
	color:#fa5b55
}

