.hymn {
  background-color: #ffeed5;
  font-size: x-large;
  text-indent: -3em;
  padding: 10px 10px 10px 3.5em;
  border-radius: 5px;
  margin-top: 1em;
  text-align: justify;
}

.ot2 {
  background-color: #ffeed5;
  font-size: x-large;
  font-weight: bold;
  text-indent: -2em;
  padding: 10px 10px 10px 2.5em;
  border-radius: 5px;
  margin-top: 1em;
  text-align: justify;
}

.xlg {
  font-size: x-large !important;
}
.center {
  text-align: center !important;
}
.bold {
  font-weight: bold;
}
.nav_text {
  background-color: #ffeed5;
  font-size: x-large;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  margin-top: 1em;
  text-align: justify;
}

table#a {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  font-size: x-large;
}
#a tr td {
  border: 1px solid black;
}

p.ot {
  background-color: rgb(223, 220, 220);
  font-size: x-large;
  text-indent: -2em;
  padding: 10px 10px 10px 2.5em;
  border-radius: 5px;
  margin-top: 1em;
  text-align: justify;
}

p.ot_3 {
  background-color: rgb(223, 220, 220);
  font-size: x-large;
  text-indent: -1.6em;
  padding: 10px 10px 10px 2.5em;
  border-radius: 5px;
  margin-top: 1em;
  text-align: justify;
}

.text {
  background-color: rgb(223, 220, 220);
  font-size: x-large;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  margin-top: 1em;
  text-align: justify;
}

audio,
img,
video {
  width: 100%;
}

img,
video {
  border-radius: 10px;
}

p.heading {
  background-color: #ffeed5;
  font-size: x-large;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  margin-top: 1em;
  text-align: center;
}

.ot3 {
  font-size: x-large;
  text-align: justify;
  text-indent: -1.5em;
  padding-left: 1.7em;
}

em {
  color: #be6019;
  font-style: normal;
}

.nav {
  background-color: #d5ecff;
  font-size: x-large;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  margin-top: 1em;
}

.nav_in {
  background-color: #d5ecff;
  font-size: x-large;
  font-weight: bold;
  text-indent: -2em;
  padding: 10px 10px 10px 2.5em;
  border-radius: 5px;
  margin-top: 1em;
}

.nav:active,
.nav_in:active {
  background-color: #4ea1e1;
}

.banner {
  font-size: x-large;
  font-weight: bold;
  background-color: #ffcb7c;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
}

b {
  color: tomato;
}

.bt_text {
  font-size: x-large;
  font-weight: bold;
}

#app {
  margin: 5px;
  background-color: #fafafa;
}
