body { border:0; width: 100%; margin: 0; padding: 0; font-size: 18px; background-color: #efe7d0;}
a { text-decoration: none; color: #069; }
.day2 { float:right;margin-right:8px;  }
.day1 { text-align: center; }
.day3 { float:left;margin-right:8px; }

.Speed
{
	font-size: 1em;
	text-align:center;
}
.Name
{
	margin:60px 1px 10px 1px;
	color : #800000;
	font-size: 0.95em;
	text-align:left;
	border-bottom:1px dashed #ccc
}
.Remarks
{
	font-size: 0.7em;
	text-align:center;
}

.gt-bg
{
	background: #2a8d12;/*8B0000*/
	font-size: 1.3em;
	text-align:center;
}
.day { padding: 0; margin: 0; color: #ffffff; text-shadow: 1px 1px #4169E1; }

#chapternav { font-size: 80%; clear: both; padding: 10px 0; border-top: 1px solid #069; border-bottom: 1px solid #069;}

/*
bottom tab nav
*/
#nbtab1, #nbtab2, #nbtab3 { width:16%; }
#nbtab4, #nbtab5 { width:10%; }
#nbtab6 { width:28%; }


#verses { width: 96%; margin-left: 2%; text-align: left; color: black; }
#verses a:hover { text-decoration: underline; }
.sgc-2 { width: 100%; text-align: center; clear: both; font-size: 100%;}
.chapter { padding: 0 4px; }

.calibre2 { text-indent: 1.3em; }
.chapterBreak { display: block; line-height: 2em; }

hr
{
 border-top:1px solid #008000;
}

.dxx
{
	border-bottom-style:solid;border-width:1px;
}
.txx
{
	border-bottom-style:double;border-width:3px;
}
.xxx
{
color:#777;text-decoration:none;border-bottom:1px dashed #777;

}
.biblejw
{
    font-size: 1.2em; text-indent: 1em; margin-left: 10px; line-height:1.5em; margin-right: 10px; text-align: justify;
}
.biblejw1 {
	font-size: 1.2em;
    margin:2px auto 10px auto;
	text-indent: 1.3em;

}

.biblejw2 {
	font-size: 1.2em;
    margin:0 auto 10px auto;
	text-indent: 1.6em;

}

sup 
{
    color : red;
	font-size: 0.5em;
}

.biblezt
{
	color : #000079;
    font-weight: bold;
	font-size: 1.2em;
	margin-left: 10px;
	margin:10px;

}

.biblexl
{
	font-size: 0.7em;
}

.gm001
{
	color : #800000;
    display: block;
	font-size: 1em;
	 margin-left: 10px;
	margin:10px;

}

.gm002
{
	color : #800000;
    display: block;
	font-size: 0.95em;
     margin-left: 10px;
     margin-right: 10px;
    margin:10px;
}

.gm003
{
	color : #800000;
    display: block;
	font-size: 0.85em;
	 margin-left: 10px;
	 margin-right: 10px;
	margin:10px;
}

.gm004
{
    color :#800000;
    display: block;
	font-size: 0.8em;
	 margin-left: 10px;
	 margin-right: 10px;
	margin:10px;
}

.gm005
{
	color : #800000;
    display: block;
	font-size: 0.75em;
	 margin-left: 10px;
	 margin-right: 10px;
	 margin:10px;
}
.gm006
{
	color : #800000;
    display: block;
	font-size: 0.7em;
	 margin-left: 10px;
	 margin-right: 10px;
	 margin:10px;
}
.text12_88 { 
margin : 30px 2px 80px 2px; 
font-size : 1.2em; 
color : #CCCCCC; 
text-align : center;
} 
#home {
    color : #CCCCCC; 
    text-decoration: none;
} 

.verse { font-weight: normal; }
.O0 { color: #E46044; padding-left: 1em; display: block; font-size: 0.9em; }
.O1 { color: #E46044; padding-left: 1.5em; display: block; font-size: 0.9em; }
.O2 { color: #E46044; padding-left: 2.0em; display: block; font-size: 0.9em; }
.O3 { color: #E46044; padding-left: 2.5em; display: block; font-size: 0.9em; }
.O4 { color: #E46044; padding-left: 3em; display: block; font-size: 0.9em; }
.O5 { color: #E46044; padding-left: 3em; display: block; font-size: 0.9em; }
.O8 { color: #4169E1; padding-left: 1em; display: block; font-size: 0.9em; }

