body
{
    margin: 0; padding: 0;
    background-color: #F1F8E7;
}
table {
    width: 98%;
    margin: 10px auto;
}
table tr{
    height: 100%;
    width: 100%;
    background-color: #338833;
}
a
{
text-decoration:none;
}

.page-navi{
	         font-weight: bold;
	         text-align:center;
	         vertical-align:middle;
	         width:99%;
	         BORDER-BOTTOM: #999 1px solid;
	         BORDER-LEFT: #999 1px solid;	         
	         DISPLAY: inline-block;
	         BACKGROUND: #eff2fb;
	         COLOR: #0000ff;
	         FONT-SIZE: 24px;
}
.page-navi:hover {
	BACKGROUND: #f7be81; COLOR: #b40404;
}

h1
{
    text-align: center;
    display: block;
    font-size: 20px;
    font-weight: bold;
    font-family: "微软雅黑";
}

hr
{
 margin:10px 5px 10px 10px; border-top:1px solid #008000;
}
.td
{
    text-align: center;
    vertical-align:middle;
    font-weight: bolder;
	font-size: 22px;
	font-family: "微软雅黑";
	color : #FFFFFF;
}
.yf
{
    text-align: center;
    vertical-align:middle;
    font-weight: bolder;
	font-size: 28px;
	font-family: "微软雅黑";
	color : #FFFFFF;
}
.xxx
{
	font-size: 11px;
	line-height:14px;
	color : #000000;
}
.text12_88 { 
margin : 50px 2px 80px 2px;
font-size : 1.2em; 
color : #CCCCCC; 
text-align : center;
} 
