/*@font-face
 {
  font-family:'fzqtjt';
  src:url('fzqtjt.woff')format('woff'),
   url('fzqtjt.otf')format('truetype'),
   url('fzqtjt.svg#NeuesBauenDemo')format('svg');

  font-weight:normal;
  font-style:normal;

}*/

.dxx
{
	border-bottom-style:solid;border-width:1px;
}
.sxx
{
	border-bottom-style:double;border-width:3px;line-height:.9;
}
.bible03
{
	border-bottom: 2px dashed;

}
.biblejw {
	font-size: 1.3em;
	font-weight: bold;
    /*font-family: fzqtjt,serif,'Microsoft YaHei', '微软雅黑',STXihei, '华文细黑';*/
    font-family: serif,'Microsoft YaHei', '微软雅黑',STXihei, '华文细黑';
    margin:10px auto 10px auto;
    line-height: 26pt;
	text-indent: 1.3em;

}
.biblejw1 {
	font-size: 1.3em;
	font-weight: bold;
    /*font-family: fzqtjt,serif,'Microsoft YaHei', '微软雅黑',STXihei, '华文细黑';*/
    font-family: serif,'Microsoft YaHei', '微软雅黑',STXihei, '华文细黑';
    margin:2px auto 10px auto;
	text-indent: 1.3em;

}

.biblejw2 {
	font-size: 1.3em;
	font-weight: bold;
    /*font-family: fzqtjt,serif,'Microsoft YaHei', '微软雅黑',STXihei, '华文细黑';*/
    font-family: serif,'Microsoft YaHei', '微软雅黑',STXihei, '华文细黑';
    margin:0 auto 10px auto;
	text-indent: 1.8em;

}

.biblezj/*章*/
{
	color : #000080;
    display1: block;
	font-size: 1em;
	 margin-left: 10px;
}

* {
	-ms-word-wrap: break-word;
}

body {
 background-color: #E0E0E0;margin: 0px; padding:0 0.7em;
}
ul {
	margin: 0px; padding: 0px;
}

li {
	margin: 0px; padding: 0px;
}

ul li {
	list-style: none;
}
.xl li {
	list-style: none;
}


#deanbottom {
	background: rgb(70, 0, 0); height: 40px;
}
.deannav1 {
	font-size: 20px; font-weight:bold; height: 40px; color: rgb(255, 255, 255); margin-left: 152px;
}

.deannav {
	font-size: 20px; font-weight:bold; text-decoration:none; height: 40px; color: rgb(255, 255, 255); line-height: 40px; overflow: hidden; margin-left: 2px;
}
.deannav ul li {
	float: left;
}
.deannav ul li a {
	padding: 0px 14px; height: 40px; color: rgb(255, 255, 255);text-decoration:none;  line-height: 40px; font-size: 20px; display: block;
}
.deannav ul li.a a {
	background: rgb(190, 92, 9); color: rgb(255, 255, 255);
}
.deannav ul li a:hover {
	background: rgb(190, 92, 9);
}
.dean1nav span {
	display: none;
}

h1
{
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    font-family: "微软雅黑";
}

.note
{
     margin-left: 1em;
     margin-right: 1em;
}

.note_back
{
    font-weight: bolder;
}

h2 
{
    display: block;
    font-size: 1.3em;
    font-weight: bolder;
    font-family: "微软雅黑";
}

h3
{
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    font-family: "微软雅黑";
}

hr
{
 margin:10px 1px 10px 1px; border-top:1px solid #008000;
}

.biblejw88
{
    font-size: 1.25em;
    text-indent: 1em;
    margin-left: 10px;
    line-height:1.5;
    margin-right: 10px;
    text-align: justify;
}

.Bjd
{
	color: #006600;
    font-weight: bold;
	font-size: 1em;
}
  
.abreak
{
    page-break-after : always;
}

.bbreak
{
    page-break-before : always;
}

.zjsjchapter
{
    color: blue;
    font-weight: bolder;
    font-size: 1.1em;
}

.chapterbreak 
{
    display: block;
    line-height: 1.2em;
}

sup 
{
/*font-family: 'Microsoft YaHei', '微软雅黑',STXihei, '华文细黑';
    font-style: italic;*/
    word-break: break-all;
    font-weight:normal;
    color : #090;
	font-size: 0.65em;
}

.biblezt
{
	color : #800000;
	font-size: 1.1em;
	 margin-left: 10px;
	margin:10px;
    font-weight: bold
}
.biblexl {
    word-break: break-all;
    font-weight:normal;
	font-size: 16px;
}
.gm001
{
	color : #800000;
    display: block;
	font-size: 1.1em;
	 margin-left: 10px;
	margin:10px;

}

.gm002
{
	color : #800000;
    display: block;
     margin-left: 10px;
     margin-right: 10px;
    margin:10px;
}

.gm003
{
	color : #800000;
    display: block;
	font-size: 0.9em;
	 margin-left: 10px;
	 margin-right: 10px;
	margin:10px;
}

.gm004
{
    color :#800000;
    display: block;
	font-size: 0.85em;
	 margin-left: 10px;
	 margin-right: 10px;
	margin:10px;
}

.gm005
{
	color : #800000;
    display: block;
	font-size: 0.8em;
	 margin-left: 10px;
	 margin-right: 10px;
	 margin:10px;
}
.gm006
{
	color : #800000;
    display: block;
	font-size: 0.75em;
	 margin-left: 10px;
	 margin-right: 10px;
	 margin:10px;
}
.gm007
{
	color : #800000;
    text-align: center;
    display: block;
	font-size: 0.7em;
    font-weight: bolder;
     margin-left: 10px;
     margin-right: 10px;
     margin:10px;
}
.CC2 { 
color : #000000;
padding-left : 0.5em;
text-indent : 1em; 
font-size : 1em; 
font-weight : bolder; 
} 
.text12_88 { 
margin : 50px 2px 80px 2px; 
font-size : 1.2em; 
color : #CCCCCC; 
text-align : center;
} 
.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(232, 111, 86, 0.8) url(images/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* 如果用户继续向下滚动,这个按钮的透明度会变得更低#e86256 */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: #e86256;
  opacity: 1;
}

