p.title {
  font-weight: bold !important;
  text-align: center;
}

.mot1,
.ot1 {
  font-weight: bold;
  text-indent: -1.2em;
  padding-left: 1.2em;
  text-align: justify;
}

.mot1,
.ot2 {
  text-indent: -1.2em;
  padding-left: 1.2em;
  text-align: justify;
}

.heading {
  text-align: center;
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

.text {
  text-align: justify;
}

.center {
  text-align: center;
}

body {
  padding-top: 1em;
  padding-bottom: 5em;
  padding-left: 12px;
  padding-right: 12px;
  font-size: x-large;
}

.mot1,
.mot2 {
  font-style: italic;
}
