body {
background-color:#EEEEEE;
}

li
{
	LIST-STYLE-TYPE: none; DISPLAY: inline; LIST-STYLE-IMAGE: none; 
}
.page-navi{
	 BORDER-BOTTOM: #999 1px solid; BORDER-LEFT: #999 1px solid; PADDING-BOTTOM: 4px; MARGIN: 6px 2px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; DISPLAY: inline-block; BACKGROUND: #eff2fb; COLOR: #0000ff; FONT-SIZE: 1.25em; BORDER-TOP: #999 1px solid; BORDER-RIGHT: #999 1px solid; TEXT-DECORATION: none; PADDING-TOP: 4px;
}
.page-navi:hover {
	BACKGROUND: #f7be81; COLOR: #b40404;
}
h1 { 
font-size : 1.6em; 
color : #cc6600; 
text-align : center; 
font-weight : bolder; 
} 
hr
{
 margin:10px 1px 10px 1px; border-top:1px solid #008000;
}
.text12_88 { 
margin : 50px 2px 80px 2px; 
font-size : 1.2em; 
color : #CCCCCC; 
text-align : center; 
} 
