@namespace h "http://www.w3.org/1999/xhtml";
.calibre {
    background-color: #efe7d0;
    display: block;
    font-size: 1.1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    color: green;
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.67em;
    text-align: center
    }
.calibre10 {
    color: #338833;
    display: block;
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.calibre11 {
    font-weight: bolder
    }
.calibre12 {
    font-style: italic
    }
.calibre13 {
    height: auto;
    width: auto
    }
.calibre14 {
    text-decoration: underline
    }
.calibre15 {
    display: block;
    line-height: 1.2
    }
.calibre18 {
   color: #338833;
    font-size: 1em;
    margin-left: 1em;
    }
.calibre19 {
    font-size: 1.1em;
    font-weight: bold;
    }    
.calibre2 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 8px
    }
.calibre3 {
    color: blue;
    cursor: pointer;
    text-decoration: none
    }
.calibre4 {
    display: block
    }
.calibre5 {
    color: grey;
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 8px;
    text-align: right
    }
.calibre6 {
    border-top:1px solid #008000;
    }
.calibre7 {
    color: inherit;
    cursor: inherit;
    text-decoration: inherit
    }
.calibre8 {
    color: green;
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.83em;
    text-align: center
    }
.calibre9 {
    display: block;
    font-size: 1.2em;
    margin-bottom: 1em;
    text-indent: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.text12_88 { 
margin : 50px 2px 80px 2px; 
font-size : 1.2em; 
color : #CCCCCC; 
text-align : center; 

}
.Z0 { 
color : #000000; 
text-align : center; 
font-size : 0.9em; 
font-weight : bolder; 
} 
.B0 { 
color : #800000; 
text-align : center; 
font-size : 1.1em; 
font-weight : bolder; 
} 
.daoh { 
font-size : 1.0em; 
color : #000000; 
text-align : center; 
} 
.nav {
    display: block;
    text-align: center;
    }
.nav1 {
    display: block;
    text-align: center;
    margin: 30px 2px 90px 2px;
    }
.AA {
   color: #338833;
    font-size: 0.9em;
    }

hr { 
margin : 10px 5px 10px 10px; 
border-top : 1px solid #008000; 
} 
.text1288 { 
margin : 50px 2px 80px 2px; 
font-size : 1.2em; 
color : #CCCCCC; 
text-align : center; 
}
#home {
    color : #CCCCCC; 
    text-decoration: none;
} 

