body
{
	height:100%; 
	width:100%;
	margin: 0; 
	padding: 0; 
	font-family: "Microsoft YaHei","Roboto Condensed","Apple LiGothic Medium", Tahoma, Helvetica, Arial, "Hiragino Sans GB", "STHeiti", "SimSun", sans-serif;
	font-size: 20px;
	color: #2A2A2A;
	background-color: #EEEEEE;
	background-repeat:repeat-x;
}
hr { 
margin : 10px 5px 10px 10px; 
border-top : 1px solid #008000; 
} 
input[type=range] {
    width: 70%;
}
#home {
    color : #CCCCCC; 
    text-decoration: none;
} 
.CC1 { 
	color : #FF0000;
	display : block;
	font-size : 1.1em;
	font-weight: bold;
	font-family: "Times New Roman", Times, serif;
} 
.CC2 { 
color : #0000FF; 
text-indent : 1.3em; 
font-size : 1.1em; 
} 
.CC3 { 
color : #000000; 
text-indent : 1.3em; 
font-size : 1.1em; 
} 







.yp { 
font-size :.7em; 
	text-align : center; 
} 
.AA22 { 
font-size : 1.0em; 
color : #000000; 
text-align : center; 
} 
.AA2 { 
font-size : 1.1em; 
color : #cc6600; 
text-align : center; 
font-weight : bolder; 
} 
.text12_150 { 
font-size : 1.0em; 
color : #cc6600; 
text-align : center; 
font-weight : bolder; 
} 
.text1 { 
font-weight : bolder; 
font-size : 1.0em; 
color : #000000; 
} 
.text2 { 
font-size : 0.9em; 
} 
.text4 { 
font-size : 0.9em; 
line-height : 150%; 
color : #008000; 
text-align : center; 
} 
.text3 { 
font-size : 0.9em; 
line-height : 150%; 
color : #008000; 
text-align : center; 
} 
.text5 { 
font-size : 0.82em; 
color : #800000; 
} 
.text6 {
	color : #000000;
	text-indent : 1em; 
	display : block;
	font-size : 1em;
	font-weight: bold;
	font-family: "Times New Roman", Times, serif;
} 
.text7 { 
	color : #FF0000;
	display : block;
	font-size : 1.1em;
	font-weight: bold;
	font-family: "Times New Roman", Times, serif;
} 
.text8 { 
font-size : 1.0em; 
color : #cc6600; 
text-align : center; 
font-weight : bolder; 
} 
.bar_green1 { 
background-color : #addead; 
} 
.bar_green2 { 
background-color : #f1f8e7; 
} 
.smdjtop { 
text-align : right; 
font-size : 0.9em; 
} 
.text12_88 { 
margin : 50px 2px 80px 2px; 
font-size : 1.2em; 
color : #CCCCCC; 
text-align : center; 

} 

sup { 
color : red; 
font-size : 0.7em; 
} 




.AA { 
color : #000000; 
text-indent : 1.3em; 
font-size : 1.1em; 
} 
.AA1 { 
color : #000000; 
text-indent : 1.3em; 
font-size : 1.1em; 
} 
.AAA { 
color : #008000; 
font-size : 1em; 
} 
.BB { 
color : #800000; 
padding-left : 2em; 
display : block; 
font-size : 1em; 
} 
.CC { 
color : #800000; 
padding-left : 2.5em; 
display : block; 
font-size : 0.96em; 
} 
.DD { 
color : #800000; 
padding-left : 3em; 
display : block; 
font-size : 0.94em; 
} 
.EE { 
color : #800000; 
padding-left : 4.5em; 
display : block; 
font-size : 0.92em; 
} 
.FF { 
color : #800000; 
padding-left : 4.5em; 
display : block; 
font-size : 0.9em; 
} 
.GG { 
color : #000000; 
font-size : 1.0em; 
font-weight : bolder;
text-indent : 2em; 
} 
.YY { 
color : #800000; 
padding-left : 0.5em; 
display : block; 
font-size : 1.1em; 
} 
.ZZ { 
color : #800000; 
padding-left : 0.5em; 
display : block; 
font-size : 1.0em; 
font-weight : bolder; 
}
.UU { 
color : #000000; 
margin-left: 4.5em;
text-indent : -4em; 
font-size : 1.1em;
} 
.jw {
    text-align: center;
    font-size: large;
    font-weight: bolder;
    color: red;
    margin: 0;
}

.close-dialog {
    display: block;
    margin: 0 auto;
    font-size: large;
    font-weight: bolder;
    color: red;
    border: 0;
    position: relative;
    bottom: 10px;
    /* left: 50%;
    transform: translateX(-50%); */
}

.jw_content {
    font-size: 1em;
    text-align: justify;

}

span {
    font-weight: bold;
}


[id^="s"] {
    border-radius: 10px;
    border: none;
}

[id^="s"]::backdrop {
    backdrop-filter: blur(2px);
}
.button-container {
    display: flex;
    justify-content: center;
  }

.button-container button {
    margin: 0 5px;
  }

.chapter { 
font-size : 1.0em; 
color : #800000; 
text-align : center; 
font-weight : bolder; 
} 
.tabbox {text-align:center;}
.tabmenu {height:28px;}
.tabmenu ul {margin:10px;padding:0;height:30px;list-style-type: none;background:#fff;border: 1px solid #CCC;border-radius:5px 5px 5px 5px;}
.tabmenu li { text-align:center; float:left; display:block; width:33.333%; height:30px; overflow:hidden; background-color: #FFF; line-height:30px; display:inline; font-size:16px;}
.tabmenu .cli {text-align:center;float:left;display:block;width:33.333%;height:30px;overflow:hidden;background-color: #E6E6E6;line-height:30px;display:inline;font-size:16px; cursor:pointer;}
#tabcontent {border-left:#CCC 0px solid;border-right:#CCC 0px solid;border-bottom:#CCC 0px solid;}
#tabcontent ul {margin:0;padding:5px;list-style-type: none;}
#tabcontent .hidden {display:none;}
#prevNextLink	{
text-align:center;
FONT-WEIGHT:bold;
FONT-SIZE:1.4em;
text-decoration:none
}
